/* Safari 4.0 - 8.0 */
@-webkit-keyframes rotationLittle {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes rotationLittle {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rotationMedium {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes rotationMedium {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rotationBig {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes rotationBig {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

.main-container::before {
  content: '';
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  height: 200vh;
  width: 200vh;
  background-image: url('../images/svg/blob.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200vh 200vh;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotationLittle; /* Safari 4.0 - 8.0 */
  animation-name: rotationLittle;
  -webkit-animation-duration: 90s; /* Safari 4.0 - 8.0 */
  animation-duration: 90s;
}

@media (min-width: 400px) {
  .main-container::before {
    -webkit-animation-name: rotationMedium; /* Safari 4.0 - 8.0 */
    animation-name: rotationMedium;
  }
}

@media (min-width: 768px) {
  .main-container::before {
    -webkit-animation-name: rotationBig; /* Safari 4.0 - 8.0 */
    animation-name: rotationBig;
  }
}
