.color-gray {
  color: #2b2c34;
}

.bg-gray {
  background-color: #2b2c34;
}

.color-main {
  color: #fffffe;
}

.bg-main {
  background-color: #fffffe;
}

.highlight-main {
  color: #6246ea;
}

.highlight-main {
  background-color: #6246ea;
}

.secondary-main {
  color: #d1d1e9;
}

.secondary-main {
  background-color: #d1d1e9;
}

.tertiary-main {
  color: #e45858;
}

.bg-tertiary {
  background-color: #e45858;
}

.color-text-two {
  color: #272343 !important;
}

.color-main-two {
  background-color: #fffffe !important;
}

.color-highlight-two {
  background-color: #2cb67d !important;
}

.color-secondary-two {
  background-color: #e3f6f5 !important;
}

.color-tertiary-two {
  border-color: #ffd803 !important;
}

.color-links-two a {
  color: #2cb67d !important;
}

.color-links-two a:hover {
  color: #ffd803 !important;
}
.color-pop-out-two {
  border: 2px solid #2cb67d !important;
  background-color: #fffffe !important;
  color: #272343 !important;
}
.color-pop-out-two:before {
  border-left: 2px solid #2cb67d;
  border-bottom: 2px solid #2cb67d;
}
