@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  color: #2b2c34;
}

p {
  font-weight: 300;
}

button {
  background-color: #0068ce
  color: #fffffe;
}

.hide {
  display: none;
}

.show {
  display: initial;
}

.master-container {
  position: relative;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.image-container {
  position: relative;
  background: white;
  padding: 24px;
  border: #0068ce 4px solid;
}

.image-container img {
  width: 320px;
  z-index: 1;
}


.text-container {
  margin: 30px 0;
  max-width: 400px;
  background: white;
  padding: 24px;
  border: #0068ce 4px solid;
}

.text-container h1 {
  font-size: 80px;
  line-height: 0.85;
  text-align: center;
}

.text-container h1 span {
  margin-left: 0px;
}

.text-container p {
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.text-container .link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px 0;
}

.text-container .link-list a {
  color: #0068ce;
  font-size: 24px;
  margin-right: 16px;
}

.text-container .link-list a:hover {
  color: #e45858;
  transition: 0.2s ease-in-out;
}

.text-container .link-list-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.text-container .link-list-top a {
  position: relative;
  color: #0068ce;
  font-size: 20px;
  margin-right: 0;
  margin-bottom: 18px;
  text-decoration: none;
}

.text-container .link-list-top a:hover {
  color: #e45858;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.email-link {
  position: relative;
}

.email-link:hover .email-div {
  width: 150px;
  display: block;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.email-div {
  opacity: 0;
  position: absolute;
  width: 0px;
  height:50px;
  border: 2px solid #0068ce;
  top: -15px;
  left: 35px;
  background-color: #fffffe;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-radius: 3px;
  color: #2b2c34;
  font-size: 16px;
  padding: 4px;
}

.email-div:before {
  content: ' ';
      height: 10px;
      width: 10px;
      position: absolute;
      left: -7px;
      top: 21px;
      background-color: #fffffe;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border-left: 2px solid #0068ce;
      border-bottom: 2px solid #0068ce;
}

.email-div-text {
  opacity: 0;
}

.email-link:hover .email-div-text {
  opacity: 1;
  transition-delay: 0.3s;
}

a#back-link:before {
  content: "\f060";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-radius: 50%;
  padding: 5px 6px;
  transition: 0.2s ease-in-out;
}

a#back-link:hover:before, a#back-link:focus:before {
  color: #fff;
  background-color: #e45858;
}

.highlighted, .highlighted:hover, .highlighted:focus {
  color: #fff !important;
}

.highlighted:after {
  display: inline-block;
  content: '';
  position: absolute;
  bottom: -4px;
  left: -4px;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  background-color: #e45858;
  z-index: -1;
}

@media (min-width: 400px) {
  html {
    overflow-x: inherit;
  }
  .text-container .link-list-top {
    flex-direction: row;
  }
  .text-container .link-list-top a {
    margin-bottom: 0;
  }
  .image-container img {
    width: 400px;
  }
}


.tiled-background {
  background-image: url('../images/tile.jpg');
  background-size: 50px 50px; /* width height */
}

