.skills {
/*  display: flex;
  justify-content: center;*/
  padding: 15px;
}
.skill-title {
  font-size: 14px;
  font-weight: 700;
}
.skill-description {
  font-size: 12px;
  font-weight: 300;
}
.icon-img {
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 2px;
  border-radius: 50%;
  background-color: rgb(245,245,245);
}
