.home-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 6;
  opacity: 0;
  /*transition: all 0.5s ease-in-out;*/
}
.home-nav-container {
  padding-left: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.home-nav {
  display: flex;
  justify-content: center;
}
.home-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.home-nav li {
  display: inline-block;
  padding: 1em 0.5em;
}
.home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  padding: 15px;
  /*border-radius: 50%;*/
}

.home-info span {
  font-size: 2.5em;
}
.social-links {
  display: flex;
  justify-content: space-between;
  color: rgb(80,80,80);
}
.social-links a {
  padding: 5px;
  margin: 0 5px;
  font-size: 2em;
}
.home-email {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  z-index: 1030;
}
