.one {
    background-color: #e8ecff
}
.two {
  background-color: #c8d1fd
}
.three {
  background-color: #a9b5fa
}
.four {
  background-color: #8d9af5
}
.five {
  background-color: #7580ed
}
.six {
  background-color: #6168e4
}
.seven {
  background-color: #5151d7
}
.eight {
  background-color: #4c43c7
}
.nine {
  background-color: #4938b3
}
.ten {
  background-color: #462f9e
}
.bg-black {
  background-color: rgb(60,60,60);
}
.white-slider {
  position: absolute;
  z-index: 23;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
}
.reveal-slider {
  position: absolute;
  z-index: 24;
  top: 0;
  /*left: 0;*/
  width: 0;
  height: 100%;
  background-image: linear-gradient(-45deg, #2892D7, #6DAEDB);
  border-radius: 5px;
}
.left-line, .right-line, .top-line, .bottom-line {
  position: absolute;
  border-radius: 5px;
}
.left-line {
  z-index: 26;
}
.right-line, .top-line, .bottom-line {
  z-index: 25;
}
.left-line, .right-line {
  width: 10px;
  height: 0%;
}
.top-line,.bottom-line {
  height: 10px;
  width: 0%;
}
.left-line {
  left: 0;
  top: 0;
  background-image: linear-gradient(-45deg, #2892D7, #6DAEDB);
}
.right-line {
  right: 0;
  bottom: 0;
  background-image: linear-gradient(135deg, #2892D7, #6DAEDB);
}
.top-line {
  top: 0;
  left: 0;
  background-image: linear-gradient(-90deg, #2892D7, #6DAEDB);
}
.bottom-line {
  bottom: 0;
  right: 0;
  background-image: linear-gradient(90deg, #2892D7, #6DAEDB);
}










