.projects {
  margin-bottom: 50px;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}
.project-img {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 7px 10px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);

  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.project-card:hover .project-img {
  opacity: .7;
}
.project-description {
  padding-top: 20px;
}
.project-card:hover .project-img-left {
  /*transform: translateY(-2px);*/
  /*background-color: #fff;*/
  /*opacity: 0.5;*/

  -webkit-transform: rotate3d(.5,.866,0,15deg) rotate(-1deg);
  transform: rotate3d(.5,.866,0,15deg) rotate(-1deg);
  -webkit-box-shadow: -27.1px 62.5px 125px -25px rgba(0,0,0,.5), -16.2px 37.5px 75px -37.5px rgba(0,0,0,.6);
  box-shadow: -27.1px 62.5px 125px -25px rgba(0,0,0,.5), -16.2px 37.5px 75px -37.5px
}

.project-card:hover .project-img-right {
  -webkit-transform: rotate3d(.5,-.866,0,15deg) rotate(1deg);
  transform: rotate3d(.5,-.866,0,15deg) rotate(1deg);
  -webkit-box-shadow: 27.1px 62.5px 125px -25px rgba(0,0,0,.5), 16.2px 37.5px 75px -37.5px rgba(0,0,0,.6);
  box-shadow: 27.1px 62.5px 125px -25px rgba(0,0,0,.5), 16.2px 37.5px 75px -37.5px
}

/*.project-info-right, .project-info-left {
  max-width: 300px;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}
