/*@import url('https://fonts.googleapis.com/css?family=Fira+Sans');*/
@import url('https://fonts.googleapis.com/css?family=Niramit');


body {
  font-family: 'Niramit', sans-serif;
  font-weight: 400;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #D4DCFF;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
p {
  font-weight: 300;
  font-size: 14px
}
.content-90vh {
  min-height: 90vh;
}
.content-wrapper {
  /*margin-top: 140px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-full {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.home {
  height: 360px;
  width: 320px;
}
.about {
  width: 700px;
  height: 600px;
}

