body {
  font-family: 'Lato', 'Helvetica', 'Courier';
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
.content-wrapper {
  height: 90vh;
  margin-top: 50px;
  position: relative;
}
#home, #projects, #about {
  transition: all 0.5s ease-in-out;
}
.hide {
  display: none;
}
/*.sidebar {
  border: 1px solid gray;
}
/* Tablets and up */
/*@media (min-width: 768px) {*/
  /*.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100px;
  }*/
/*}
