@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
p {
  font-weight: 300;
}
.content-wrapper {
  height: 90vh;
  /*margin-top: 50px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
#home, #projects, #about {
  transition: all 0.5s ease-in-out;
}
.hide {
  display: none;
}
/*.sidebar {
  border: 1px solid gray;
}
/* Tablets and up */
/*@media (min-width: 768px) {*/
  /*.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100px;
  }*/
/*}
