.jake-nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #1E50B5;
}
.email {
  color: #1E50B5;
  text-align: center;
}

@media (min-width: 992px) {
  .social-links-wrapper {
    position: absolute;
  }
}
