.nav-wrapper {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  height: 50px;
}

.social-nav-link {
  font-size: 2em;
  padding: 0 5px;
}
.social-links-wrapper {
  position: inherit;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
}
.nav-bar-front {
  z-index: 1030;
}
.jake-nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: gray;
}

@media (min-width: 992px) {
  .social-links-wrapper {
    position: absolute;
  }
}
